<div class="holder padding-zero">
    <div class="text-plugin layout1">
        <div class="text-banner clearfix border-bottom-grey">
            <div class="row">
                {{WidgetHome.media.content.images.length}}
                <div class="owl-carousel" owl-carousel="WidgetHome.media.content.images.length">
                    <div class="item" data-ng-repeat="image in WidgetHome.media.content.images">
                        <img class="lazyOwl"
                             ng-src="{{'http://www.placehold.it/342x200.jpg'}}"
                             alt="Lazy Owl Image">
                    </div>
                </div>
            </div>

        </div>
        <div class="padded">
            <p ng-bind-html="WidgetHome.safeHtml(WidgetHome.media.content.descriptionHTML)">
            </p>
        </div>
    </div>
</div>